In [891]:
import pandas as pd
import random
# import sqlite3
import numpy as np

In [892]:
rawdts = np.random.normal(50,10,50)
rawdts


# print(rawdts.mean())

array([55.72191088, 52.70681721, 50.95805126, 46.47615514, 53.14151965,
       41.72664241, 65.26647834, 48.70326412, 59.70665078, 39.30117417,
       49.35091225, 58.44716644, 56.03011118, 32.09028041, 48.7221998 ,
       62.55489609, 45.85520189, 46.9701061 , 56.47755014, 55.5592185 ,
       42.27930096, 44.72679852, 41.1262375 , 61.01332531, 53.69222472,
       46.04199002, 71.8712896 , 48.65835225, 62.94965046, 48.06694766,
       53.98723846, 49.63641406, 43.13260067, 42.10776394, 50.01586781,
       72.16506309, 67.01551231, 35.23941285, 39.01621844, 56.98539203,
       40.26862726, 36.06565529, 54.48945118, 54.5029872 , 67.63794257,
       46.41043412, 64.59513064, 36.41824983, 55.60777361, 54.59346085])

In [893]:
dta = pd.DataFrame((rawdts),columns=['x'])
dta.head()

           x
0  55.721911
1  52.706817
2  50.958051
3  46.476155
4  53.141520

In [894]:
print(dta['x'].mean())

51.32167239954143

In [895]:
print(dta['x'].median())

50.48695953665629

In [896]:
print(round(dta['x'].mean()))

51

In [897]:
rawdts = np.random.normal(50,10,50)**5
dta = pd.DataFrame((rawdts),columns=['x'])
dta.head()

              x
0  7.104130e+08
1  7.145737e+07
2  1.923251e+08
3  3.217924e+08
4  1.051947e+09

In [898]:
print(dta['x'].mean())
print(dta['x'].median())
print(round(dta['x'].mean()))

462466745.52172905
267692543.71636117
462466746

In [899]:
ipldta= pd.read_csv('IPL_2023-22_Sold_Players.csv')

ipldta.head()

,Season,Name,Nationality,Type,Team,Price
0,2023,Ajinkya Rahane,Indian,Batter,Chennai Super Kings,"50,00,000"
1,2023,Bhagath Varma,Indian,All-Rounder,Chennai Super Kings,"20,00,000"
2,2023,Kyle Jamieson,Overseas,Bowler,Chennai Super Kings,"1,00,00,000"
3,2023,Ajay Mandal,Indian,All-Rounder,Chennai Super Kings,"20,00,000"
4,2023,Nishant Sindhu,Indian,All-Rounder,Chennai Super Kings,"60,00,000"

In [900]:
# print(ipldta['Price'].max())

print(ipldta.loc[ipldta['Price'].idxmax()])

Season                                 2022
Name                        Mahipal Lomror
Nationality                         Indian
Type                           All-Rounder
Team            Royal Challengers Bangalore
Price                            95,00,000
Name: 254, dtype: object

In [901]:
sold = []
for i in ipldta['Price']:
    sold.append(int(i.replace(',','').strip()))

sold

def iqr(k):
    k = sorted(k)
    n = len(k)
    q1 = np.percentile(k, 25)
    q3 = np.percentile(k, 75)
    

    return q3-q1


iqr(sold)

28500000.0

In [902]:
solidd = sorted(sold)




k = len(sold)


if k%2 !=0:
    print(solidd[int(len(solidd)//2)])
    
    
else:
    
    
    print((solidd[int(len(solidd)//2)]+solidd[int(len(solidd)//2)-1])/2)

7500000.0

In [903]:
solidd = [1,2,3,4,5,6]


print(len(solidd)//2)


print((solidd[int(len(solidd)//2)]+solidd[int(len(solidd)//2)-1])/2)

3
3.5