## random sampling

In [325]:
import random
import numpy as np
import pandas as pd
popp = list(range(1,100))
print(popp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [326]:
sample_size = 10
samplee = random.sample(popp,sample_size)

samplee

[43, 98, 17, 25, 61, 27, 53, 46, 22, 11]

## systematic sampling

In [327]:
print(popp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [328]:
interv = len(popp)//sample_size
interv

9

In [329]:

stsrtpoint = np.random.randint(0,interv)
stsrtpoint

6

In [330]:
samplee2 = popp[stsrtpoint::interv]

# print(len(samplee2))
samplee2

[7, 16, 25, 34, 43, 52, 61, 70, 79, 88, 97]

## starified

In [331]:
from sklearn.model_selection import train_test_split
data= pd.read_csv("https://raw.githubusercontent.com/ayan-zz/Statistics_python/main/titanic.csv")

data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [332]:
train , test = train_test_split(data,test_size=0.3,stratify=data['Sex'])

In [333]:
train['Sex'].value_counts()

Sex
male      403
female    220
Name: count, dtype: int64

In [334]:
test['Sex'].value_counts()

Sex
male      174
female     94
Name: count, dtype: int64

## clustered

In [335]:
print(popp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [336]:
cluster = 5

strt = random.randint(0,cluster+1)

sampledata =[]
for i in range(strt,len(popp),cluster):
    sampledata.append(popp[i+1:cluster+i])

print(strt)
print(sampledata)

1
[[3, 4, 5, 6], [8, 9, 10, 11], [13, 14, 15, 16], [18, 19, 20, 21], [23, 24, 25, 26], [28, 29, 30, 31], [33, 34, 35, 36], [38, 39, 40, 41], [43, 44, 45, 46], [48, 49, 50, 51], [53, 54, 55, 56], [58, 59, 60, 61], [63, 64, 65, 66], [68, 69, 70, 71], [73, 74, 75, 76], [78, 79, 80, 81], [83, 84, 85, 86], [88, 89, 90, 91], [93, 94, 95, 96], [98, 99]]