In [5]:
import pandas as pd
from scipy import stats

dta = pd.read_excel('healthdrink.xlsx')
mu = 100
dta

    height_increase
0               5.3
1               9.0
2               5.7
3               5.5
4               5.4
..              ...
75              4.4
76              5.3
77              6.2
78              7.4
79              4.2

[80 rows x 1 columns]

In [6]:
t_test ,pvalue = stats.ttest_1samp(dta,mu)


t_test

array([-692.99913933])

In [7]:
pvalue

array([3.07151431e-151])

z test

In [ ]:
import numpy as np
from statsmodels.stats.weightstats import ztest

# Example data: Sample
data = [10, 12, 14, 10, 11, 13, 15, 14, 12, 11]
mu=12

# Perform Z-test (One-Sample Z-Test)
# Null hypothesis: The sample mean is 12
z_stat, p_value = ztest(data, value=mu)

print("Z-Statistic:", z_stat)
print("P-Value:", p_value)

Z-Statistic: 0.3611575592573063
P-Value: 0.7179816667337777

In [9]:
# Interpretation
if p_value < 0.05:
    print("Reject the null hypothesis: The mean is not 12.")
else:
    print("Fail to reject the null hypothesis: The mean is 12.")

Fail to reject the null hypothesis: The mean is 12.